[WFS FES SWG] Angle brackets must be escaped in FILTER query parameter

<b>Posted by:</b>  on 2012-12-21 16:10:15
			    	     <b>Document Title:</b> Web Feature Service 2.0 Interface Standard (also ISO 19142)
                                     <b>Proposal:</b> According to RFC 3986, sec. 3.4 angle brackets are not allowed in the query component of a URI--they must be percent-encoded (i.e. %3C, %3E). 

